<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:fragment="span">
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</span>

</head>
<body>
<nav th:fragment="nav">
    <ul class="nav nav-pills">
            <li role="presentation"><a href="/">Home</a></li>
    <span th:if="${username}"> Welcome, [[${username}]]! </span>
        <li role="presentation"><a href="/login">Login</a></li>
        <li role="presentation"><a href="/logout">Logout</a></li>
    </ul>

    <span th:unless="${username}">
        <ul class="nav nav-pills">
             <li role="presentation" ><a href="/">Home</a></li>
             <li role="presentation" ><a href="/signup">Sign Up</a></li>
             <li role="presentation" ><a href="/login">Login</a></li>
             <li role="presentation" ><a href="/logout">Logout</a></li>
    </ul>
    </span>

</nav>


<span th:fragment="span1"></span>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>