<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<th:block th:fragment="coolbootstrap">
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
</th:block>
<body>
<nav th:fragment="nav">
    <ul th:if="${username}"class="nav nav-pills">
            <li role="presentation"><a href="/">Home</a></li>
    <span > Welcome, [[${username}]]! </span>
        <li role="presentation"><a href="/login">Login</a></li>
        <li role="presentation"><a href="/logout">Logout</a></li>
    </ul>

    <span th:unless="${username}">
        <ul class="nav nav-pills">
             <li role="presentation" ><a href="/">Home</a></li>
             <li role="presentation" ><a href="/signup">Sign Up</a></li>
             <li role="presentation" ><a href="/login">Login</a></li>
             <li role="presentation" ><a href="/logout">Logout</a></li>
    </ul>
    </span>

</nav>

<span th:fragment="span1"></span>
</body>
</html>