<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeFellowship</title>


</head>
<body>
<span th:replace="fragments/common :: coolbootstrap"></span>
<h1>CodeFellowShip Home Page</h1>
<nav th:replace="fragments/common :: nav"></nav>

<div th:each="post : ${user.posts}">
    <h4>New Post </h4>
    <p>Title: [[${post.title}]]</p>
    <p>Post: [[${post.body}]]</p>
    <p>Date: [[${post.createdAt}]]</p>
</div>

<h3>Create a post when after you sign in!</h3>
<form th:if="${user}" action="/posts" method="POST">
    <label>Title<input type="text" name="title"/></label>
    <br>
    <label>Body<textarea type="text" name="body"> </textarea></label>
    <br>
    <label>Date<input type="datetime-local" name="createdAt"/></label>
    <br>
    <input type="submit"/>   <input type="reset">
</form>
</body>
</html>

